body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

nav {
    width: 200px;
    background-color: teal;
    padding: 10px;
    margin: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu > li {
    position: relative;
}

.menu > li > a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    background-color: teal;
    transition: background-color 0.3s;
}

.menu > li > a:hover {
    background-color: darkcyan;
}

.submenu {
    display: none;
    position: absolute;
    left: 200px;
    top: 0;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: darkcyan;
    z-index: 1;
}

.submenu li {
    width: 200px;
}

.submenu li a {
    padding: 10px;
    display: block;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
}

.submenu li a:hover {
    background-color: #007a7a;
}

.menu > li:hover .submenu {
    display: block;
}
